.btn-primary{
  color: $light;
}

.row.overflow-page{
    width: 100vw;
    flex-wrap: nowrap !important;
  overflow-x: scroll !important;
}

.page-height{
  height: 100vh !important;
  }
  .list-height{
    min-height: 100% !important;
    }

    .font-fancy{
      font-family: 'Norican', cursive;
    }
    .font-simple{
      font-family: 'Alata', sans-serif;
    }