$body-bg: #000000;

$primary: #f66599;
$secondary: rgb(241, 250, 123);
$danger: #be274f;
$success: #d7e78d;
$warning: #000000;
$info: #ffffff;

$blue: blue;
$indigo: indigo;
$pink: #f66599;
$red: #b10000;
$orange: orange;
$yellow: #f1fa7b;
$green: green;
$teal: #005f52;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;
$darkteal: #08261e;
$lightteal: #31dbc5;
$white: #ffffff;
$black: black;
$darkpurple: #1d0152;
$purple: #35216b;
$lightpurple: #a676ff;
$lightgrey: #dadada;
$darkgrey: #3d3d3d;
$verydarkgrey: #242424;
$darkgold: #a17600;
$lightgold: #fcdb80;
$gold: #eeb005;
$softgold: #f0e4b0;
$softblue: #7ebfda;
$softpink: #bd80b5;
$royalblue: #1027f0;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "darkteal": $darkteal,
  "lightteal": $lightteal,
  "black": $black,
  "darkpurple": $darkpurple,
  "lightpurple": $lightpurple,
  "lightgrey": $lightgrey,
  "darkgrey": $darkgrey,
  "verydarkgrey": $verydarkgrey,
  "darkgold": $darkgold,
  "lightgold": $lightgold,
  "gold": $gold,
  "softgold": $softgold,
  "softblue": $softblue,
  "softpink": $softpink,
  "royalblue": $royalblue,
) !default;
